<div class="container"[hidden]="submitted">
  <form name="form"   #f="ngForm" class="form-horizontal" (ngSubmit)="f.form.valid && onSubmit()">
    <div class="form-group">
      <label for="taskName" class="control-label col-sm-3">Task Name  </label>
      <input type="text" class="form-control  col-sm-6 displayinline" id="taskName"  [(ngModel)]="task.taskName" name="taskName"
       #taskName="ngModel" required [ngClass]="{ 'is-invalid': f.submitted && taskName.invalid }"/>

      <div *ngIf="f.submitted && taskName.invalid" class="invalid-feedback">
                            <div *ngIf="taskName.errors.required">Task Name is required</div>
                        </div>
    </div>

    
    <div class="form-group">
     <label class="control-label col-sm-3" for="parentTaskName">Parent Task</label>
     <select class="form-control  col-sm-6 displayinline" name="parentTaskName" [(ngModel)]="task.parentTask"> 
      <option *ngFor="let parentTask of taskList" [value]="parentTask.taskId">{{parentTask.taskName}}</option> 
    </select> 
  </div>

  <div class="form-group">
    <label class="control-label col-sm-3" for="priority">Priority</label>
     <input type="range" class="form-control-range form-control  col-sm-6 displayinline" min="0" max="30" id="priority"  [(ngModel)]="task.priority" name="priority">
  </div>

  <div class="form-group">
   <label class="control-label col-sm-3" for="startDate">Date From</label>
   <input type = "date" [(ngModel)] = "task.startDate" name = "startDate"  class="form-control  col-sm-6 displayinline" required #startDate="ngModel" [ngClass]="{ 'is-invalid': f.submitted && endDate.invalid }"/>
   <div *ngIf="f.submitted && startDate.invalid" class="invalid-feedback">
                            <div *ngIf="startDate.errors.required">Start Date is required</div>
                        </div>
 </div>

 <div class="form-group">
  <label class="control-label col-sm-3" for="endDate">Date To</label>
  <input type = "date" [(ngModel)] = "task.endDate" name = "endDate"  class="form-control  col-sm-6 displayinline" required #endDate="ngModel" [ngClass]="{ 'is-invalid': f.submitted && endDate.invalid }"/>
   <div *ngIf="f.submitted && endDate.invalid" class="invalid-feedback">
                            <div *ngIf="endDate.errors.required">End Date is required</div>
                        </div>
</div>
<div class="form-row text-center">
  <div class="col-12">
    <button type="submit" class="btn btn-primary mr-1">Edit task</button>
    <button type="reset" class="btn btn-primary">Reset</button>

  </div>
</div>
</form>
</div>

<div [hidden]="!submitted">
  <h4>Your change has been edited successfully!</h4>
</div>
