<h3>Create Task</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="taskName">Task Name</label>
      <input type="text" class="form-control" id="taskName" required [(ngModel)]="task.taskName" name="taskName">
    </div>

    <div class="form-group">
       <label class="mr-sm-2" for="parentTaskName">Parent Task</label>
      <select name="parentTaskName" [(ngModel)]="task.parentTask"> 
    <option *ngFor="let parentTask of taskList" [value]="parentTask.taskId">{{parentTask.taskName}}</option> 
</select> 
    </div>

    <div class="form-group">
      <label class="mr-sm-2" for="priority">Priority</label>
            <select  name="priority" class="custom-select mr-sm-2" id="inlineFormCustomSelect" [(ngModel)]="task.priority">
              <option selected>Choose...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
    </div>

     <div class="form-group">
     <label class="mr-sm-2" for="startDate">Date From</label>
      <input type = "date" [(ngModel)] = "task.startDate" name = "startDate" class="form-control" />
    </div>

     <div class="form-group">
      <label class="mr-sm-2" for="endDate">Date To</label>
                 <input type = "date" [(ngModel)] = "task.endDate" name = "startDate" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
</div>
