  <div class="container">

    
  
  <div class="row mt-3">

      <div class="col-sm-4">
      <label for="taskName" class="mr-1 ml-3 col-sm-2" >Task</label>
      <input type="text" class="mr-1 ml-3 col-sm-4" id="taskName" required  name="taskName" [(ngModel)]="searchTaskName" autocomplete="off">
    </div>

    <div class="col-sm-8">
     <label  for="parentTask" >Parent Task</label>
    <input type="text" class="mr-1 ml-3" id="parentTask" required  name="parentTask" [(ngModel)]="searchParentTask" autocomplete="off">
    </div>
  </div>
<div class="row mt-3">

   <div class="col-sm-4">

      <label for="priority" class="mr-1 ml-3 col-sm-2" >Priority</label>
      <input type="text" class="mr-1 ml-3 col-sm-4" id="taskName" required  name="priority" [(ngModel)]="searchPriority" autocomplete="off">
    </div>

    <div class="col-sm-8">

       <label  for="startDate" >Date From</label>
    <input type="date" class="mr-1 ml-3 col-sm-4" id="parentTask" required  name="startDate" [(ngModel)]="searchStartDate" autocomplete="off">

     <label for="endDate">Date To</label>
  <input type = "date" name = "endDate"  class="col-sm-4 displayinline" [(ngModel)]="searchEndDate" autocomplete="off"/>
  
 
  

</div>
</div>

  </div>
  <hr/>
  <div class="container">
    <table  class="table table-borderless">
      <tbody  *ngFor="let task of taskList | grdFilter:searchTaskName : 'taskName' | grdFilter:searchParentTask : 'parentTaskName'
       | grdFilter:searchPriority : 'priority'
       | grdFilter:searchStartDate : 'startDate'
       | grdFilter:searchEndDate : 'endDate'">
         <tr>
          <th>Task</th>
          <th>Parent</th>
          <th>Priority</th>
          <th>Start</th>
          <th>End</th>
        </tr>
        <tr >
          <td>{{task.taskName}}</td>
          <td>{{task.parentTaskName}}</td>
          <td>{{task.priority}}</td>
          <td class="datewidth">{{task.startDate}}</td>
          <td class="datewidth">{{task.endDate}}</td>
          <td><button [disabled] ="task.endTask"
           (click)="editUser(task.taskId)">Edit</button>
          </td>
          <td><button  [disabled] ="task.endTask"
           (click)="endTask(task.taskId)">End</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


